<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GAILocationScreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9597C5F81FC61BC800869397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9597C60C1FC61BC900869397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9597C6171FC61BC900869397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
